body, div, ul, li, h1, h2, h3, h4, h5, form,  input, p, td { 
	margin: 0; 
	padding: 0;} 

h1, h2, h3, h4, h5, h6  { 
	font-size: 100%; 
} 
ol, ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	border: 0;} 
	
li { 
	margin: 0; 
	padding: 0; 
	border: 0; } 
table { 
	border-collapse: collapse; 
} 

img { border: 0; } 

a, a:hover { text-decoration: none; }

body {
	font-family: Helvetica;
	background: #252729;
	overflow-x: hidden;
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	//font-size: 12px;
	min-height:400px;}


a {color:black}

table {width:100%}

#toolbar {
	background-image: -moz-linear-gradient(center top , #777777, #000000);
	background-image: -webkit-linear-gradient(top , #777777, #000000);
	border-bottom: 1px solid #2d3642; 
	border-top: 1px solid #6d84a2; 
	text-align:left; 
	color:white; 
	font-size: 18px; 
	width:100%;}

#toolbar td {
	border-right:1px solid black;
	background:transparent;}

#toolbar td a { 
	display:block; 
	text-align:center; 
	padding:11px 0;}

#toolbar td .selected {color:white}

.tableheader {
	background-image: -moz-linear-gradient(bottom, rgb(77,145,254) 0%, rgb(0,2,31) 95%);
	background-image: -webkit-linear-gradient(bottom, rgb(77,145,254) 0%, rgb(0,2,31) 95%);
	border: 1px solid #4D90FE;
	text-align:center; 
	color: #FFFFFF;
	background-repeat:no-repeat;
	background-position:left center;
	height: 100%;
	line-height: 40px;
}


.rem-type1 {
	background-image:url('../images/type1.png');
}
.rem-type2 {
	background-image:url('../images/type2.png');
}
.rem-type3 {
	background-image:url('../images/type3.png');
}
.rem-type4 {
	background-image:url('../images/type4.png');
}
.rem-type5 {
	background-image:url('../images/type5.png');
}
.rem-type6{
	background-image:url('../images/type6.png');
}
.rem-type7 {
	background-image:url('../images/type7.png');
}
.rem-type8 {
	background-image:url('../images/type8.png');
}
.rem-type9 {
	background-image:url('../images/type9.png');
}
.rem-type10 {
	background-image:url('../images/type10.png');
}
.rem-type11 {
	background-image:url('../images/type11.png');
}
.rem-type12 {
	background-image:url('../images/type12.png');
}
.rem-type13 {
	background-image:url('../images/type13.png');
}
.rem-type14 {
	background-image:url('../images/type14.png');
}
.rem-type15 {
	background-image:url('../images/type15.png');
}
.rem-type16 {
	background-image:url('../images/type16.png');
}
.rem-type17 {
	background-image:url('../images/type17.png');
}
.rem-type18 {
	background-image:url('../images/type18.png');
}
.rem-type19 {
	background-image:url('../images/type19.png');
}
.rem-type26 {
	background-image:url('../images/type26.png');
}

.button, .jump-button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: 12px/100% Arial,Helvetica,sans-serif;
	font-weight: bold;
	width:90%;
	margin-left: 5%;
	height: 95%;
	display: inline-block;
    outline: medium none;
    text-align: center;
    vertical-align: baseline;
	background-image: -moz-linear-gradient(center top , #777777, #000000);
	background-image: -webkit-linear-gradient(top , #777777, #000000);
    border: 1px solid #333333;
    color: #D7D7D7;
	overflow: hidden;
}
.jump-button  {
	width:30%;
}
.button:hover , .jump-button:hover{
    text-decoration: none;
    background-image: -moz-linear-gradient(center top , #444444, #000000);
}
.button:active , .jump-button:active{
    position: relative;
    top: 1px;
    background-image: -moz-linear-gradient(center top , #000000, #444444);
    color: #777777;
} 
.unknown {
	background: #FFFF00;
	-webkit-box-shadow: 2px 3px 4px #E4D8BA;
	box-shadow: 2px 3px 4px #E4D8BA;
}
.on {
	background-color: #FFFF90;
}
.off {
}

.rem-type1.on {
	background-image:url('../images/bulb_on.png');
}
.rem-type1.off {
	background-image:url('../images/bulb_off.png');
}
.rem-type3.on {
	background-image:url('../images/switch_on.png');
}
.rem-type3.off {
	background-image:url('../images/switch_off.png');
}
.rem-type6.on {
	background-image:url('../images/yellowfan.png');
}
.rem-type6.off {
	background-image:url('../images/bluefan.png');
}
.rem-type17 {
	background-image:url('../images/thermo_off.png');
}
.rem-type18.on {
	background-image:url('../images/snow-flake_on.png');
}
.rem-type18.off {
	background-image:url('../images/snow-flake_off.png');
}
.rem-type19.on {
	background-image:url('../images/flame_on.png');
}
.rem-type19.off {
	background-image:url('../images/flame_off.png');
}
.rem-type26.on {
	background-image:url('../images/alarm_on.png');
}
.rem-type26.off {
	background-image:url('../images/alarm_off.png');
}
.keystable {
}
.warning {
	background: #FFEB9C;
}
.error {
	background: #FFC7CE;
}
.keysrow {
	height: 40px;
}
.keyscell {
	height: 40px;
}
.keyscellempty {
}
.remotedivs  {
	background:#fff; 
	border:3px solid #edeae3; 
	padding:3px 3px; 
	min-height:400px;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
	-webkit-box-shadow: 2px 3px 4px #E4D8BA;
	box-shadow: 2px 3px 4px #E4D8BA;
}

.message {
	text-align: center;
	font-weight: bold; 
	color: #ff0000;
}
.field {
	text-align:center; 
	height: 100%;
	line-height: 40px;
}

.remotedivs ul {
	margin:0 0; 
	padding:0 0 0 0;
}
.remotedivs a {
	display:block; 
	text-align:center; 
	padding:10px 0px; 
	/*font-size:16px;*/ 
	font-weight:bold
}

.schaddbut td {
	padding:4px 5px; 
	border:1px solid #999;
	width:50%
}
.activemods {
	margin:3px auto 5px auto;}

.activemods td {
	padding:7px 5px; 
	border:1px solid #999}

.activemods th {
	color:white; 
	padding:2px; 
	text-align:center; 
	background:#555; 
	border:1px solid #999
}
#footer {
	background:url('../images/foot.gif') 
	repeat-x bottom left; 
	height:52px;
}
#footer p {
	text-align:center;
	padding:3px;
}


div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 45%;
    left: 45%;
    background:url(../images/ajax-loader.gif) no-repeat center #fff;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:5px solid #D4D4D4;
	border-radius: 15px;
    margin-left: -50px;
    margin-top: -50px;
    z-index:2;
    overflow: auto;
}

[class*='type'] {
	box-shadow: 2px 3px 4px #E4D8BA;
	-webkit-box-shadow: 2px 3px 4px #E4D8BA;
	background-repeat:no-repeat;
	background-position:center center;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	border: none;
    color: #000;
}
.tablecell {
/*	background: #D4D4D4;*/
	border-collapse:collapse;
	border: 1px solid #4D90FE;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
	background-position:left center;
}
.display {
	background-position:left center;
	text-align:center; 
	height: 100%;
	line-height: 40px;
}
.targettemp {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
	background-color: transparent;
	border: 1px solid #CE4D90;
	text-align:center; 
	line-height: 28px;
	height: 80%;
	width: 90%;
	margin-left: 5%;
}
.btn-primary .caret,
.btn-warning .caret,
.btn-danger .caret,
.btn-info .caret,
.btn-success .caret,
.btn-inverse .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-group.open .btn-warning.dropdown-toggle {
  background-color: #f89406;
}


.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-group.open .btn-danger.dropdown-toggle {
  background-color: #bd362f;
}
.hidden {
	display: none;
}
.controlselect {
	font-size:  15px;
	margin-left: 10px;
}
.formdropdownlist {
	height: 95%;
	text-align:center; 
}
.controlselect-button {
	font-size: 1.2em;
}
